certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
idna==3.4
pycparser==2.21
pyftpdlib==1.5.9
pyOpenSSL==23.3.0
pysendfile==2.0.1
python-ftp-server==1.3.18
requests==2.31.0
urllib3==2.1.0