        <!-- Modal -->
        <div class="modal fade" id="CRTCreate2">
          <div class="modal-dialog">
              <div class="modal-content">
      <form method="POST" action="{% url 'csr_create_new' %}">
        {% csrf_token %}
                  <!-- Modal Başlık -->
                  <div class="modal-header">
                      <h4 class="modal-title">Procenne HSM Token</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  
                  <!-- Modal İçerik -->
                  <div class="modal-body">
                          
                          <div class="form-floating">
                              <select class="form-select" name="Keys_Name" id="floatingSelectGrid" aria-label="Floating label select example">
                                  {% for keys in keys_list %}
                                      <option value="{{ keys.Keys_Name }}">{{ keys.Keys_Name }}</option>
                                  {% endfor %}
                              </select>
                              <label for="floatingSelectGrid">Select Keys</label>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">CSR File Name</label>
                            <input class="form-control" type="text" name="CommonName" required>
                        </div>
                          <div id="inputContainer"></div>
                          <div class="container mt-5"></div>
                          <!-- Bootstrap JS ve jQuery bağlantıları -->
                          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
                                <!-- JavaScript -->
                            <script>
                                let elementCount = 0; // Eklenen eleman sayısını takip etmek için
    
                                function addSelectAndInput() {
                                    // Her elemanın benzersiz bir ID'si olsun
                                    const elementId = `dynamicElement_${elementCount}`;
    
                                    // Dinamik select ve input alanını içeren HTML'i oluştur
                                    const dynamicElementHTML = `
                                        <div class="form-group" id="${elementId}Container">
                                            <label for="${elementId}Select">New Attribute:</label>
                                            <select class="form-select" id="${elementId}Select" name="dynamicSelect[]">
                                                <!-- Buraya select seçenekleri eklenebilir -->
                                            </select>
    
                                            <label for="${elementId}Input">New Value:</label>
                                            <input type="text" class="form-control" id="${elementId}Input" name="dynamicInput[]" placeholder="Yeni değer girin" required>
    
                                            <button type="button" class="btn btn-danger" onclick="removeElement('${elementId}')">Sil</button>
                                        </div>
                                    `;
    
                                    // Dinamik select ve input alanını ekleyin
                                    document.getElementById('formContainer').innerHTML += dynamicElementHTML;
    
                                    // Select sayısını artırın
                                    elementCount++;
                                }
    
                                function removeElement(elementId) {
                                    // ID'si verilen select ve input alanını kaldır
                                    document.getElementById(elementId + 'Container').remove();
                                }
                            </script>
    
                                  <!-- JavaScript -->
                            <script>
                                let inputCount = 0; // Eklenen input sayısını takip etmek için
    
                                function addInput() {
                                    // Her input alanının benzersiz bir ID'si olsun
                                    const inputId = `dynamicInput_${inputCount}`;
                                    
                                    // Dinamik input alanını içeren HTML'i oluştur
                                    const dynamicInputHTML = `
                                    <div class="form-group" id="${inputId}Container">
                                    <label for="${inputId}">New Attribute:</label>
                                    <select class="form-select" id="${inputId}" name="dynamicSelect[]">
                                        <option value="NameOID.COUNTRY_NAME">COUNTRY_NAME</option>
                                        <option value="NameOID.COMMON_NAME">COMMON_NAME</option>
                                        <option value="NameOID.ORGANIZATION_NAME">ORGANIZATION_NAME</option>
                                        <option value="NameOID.SERIAL_NUMBER">SERIAL_NUMBER</option>
                                        <option value="NameOID.STATE_OR_PROVINCE_NAME">STATE_OR_PROVINCE_NAME</option>
                                        <option value="NameOID.LOCALITY_NAME">LOCALITY_NAME</option>
                                        <option value="NameOID.ORGANIZATIONAL_UNIT_NAME">ORGANIZATIONAL_UNIT_NAME</option>
                                        <option value="NameOID.GIVEN_NAME">GIVEN_NAME</option>
                                        <option value="NameOID.SURNAME">SURNAME</option>
                                        <option value="NameOID.PSEUDONYM">PSEUDONYM</option>
                                        <option value="NameOID.TITLE">TITLE</option>
                                        <option value="NameOID.ORGANIZATION_IDENTIFIER">ORGANIZATION_IDENTIFIER</option>
                                        <option value="NameOID.DN_QUALIFIER">DN_QUALIFIER/option>
                                        <option value="NameOID.COUNTRY_OF_CITIZENSHIP">COUNTRY_OF_CITIZENSHIP</option>
                                        <option value="NameOID.COUNTRY_OF_RESIDENCE">COUNTRY_OF_RESIDENCE</option>
                                        <option value="NameOID.DATE_OF_BIRTH">DATE_OF_BIRTH</option>
                                        <option value="NameOID.PLACE_OF_BIRTH">PLACE_OF_BIRTH</option>
                                        <option value="NameOID.GENDER">GENDER</option>
                                        <option value="NameOID.USER_ID">USER_ID</option>
                                        <option value="NameOID.EMAIL_ADDRESS">EMAIL_ADDRESS</option>
                                        <option value="NameOID.STREET_ADDRESS">STREET_ADDRESS</option>
                                        <option value="NameOID.UNSTRUCTURED_NAME">UNSTRUCTURED_NAME</option>
                                        <option value="NameOID.UNSTRUCTURED_ADDRESS">UNSTRUCTURED_ADDRESS</option>
                                        <option value="NameOID.NAME">NAME</option>
                                        <option value="NameOID.SURNAME_GIVEN_NAME">SURNAME_GIVEN_NAME</option>
                                        <option value="NameOID.PHONE_NUMBER">PHONE_NUMBER</option>
                                        <option value="NameOID.PROFESSION_NAME">PROFESSION_NAME</option>
                                        <option value="NameOID.IDENTIFIER_REGISTRY">IDENTIFIER_REGISTRY</option>
                                        <option value="NameOID.DISTINGUISHED_NAME">DISTINGUISHED_NAME</option>
    
                                        <option value="NameOID.ROLE">ROLE</option>
                                        <option value="NameOID.MOBILE_PHONE_NUMBER">MOBILE_PHONE_NUMBER</option>
                                        <option value="NameOID.POSTAL_CODE">POSTAL_CODE</option>
                                        <option value="NameOID.BUSINESS_CATEGORY">BUSINESS_CATEGORY</option>
                                        <option value="NameOID.TELEPHONE_NUMBER">TELEPHONE_NUMBER</option>
    
                                    </select>
                                        <div class="form-group" id="${inputId}Container">
                                            <input type="text" class="form-control" id="${inputId}" name="dynamicInput[]" placeholder="Yeni değer girin" required>
                                            <button type="button" class="btn btn-danger" onclick="removeInput('${inputId}')">Sil</button>
                                        </div>
                                    `;
    
                                    // Dinamik input alanını ekleyin
                                    document.getElementById('inputContainer').innerHTML += dynamicInputHTML;
    
                                    // Input sayısını artırın
                                    inputCount++;
                                }
    
                                function removeInput(inputId) {
                                    // ID'si verilen input alanını kaldır
                                    document.getElementById(inputId + 'Container').remove();
                                }
                            </script>	
                           
                  </div>
                  
                  <!-- Modal Ayak -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onclick="addInput()">New Attribute</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>
      </form>
                  
              </div>
          </div>
      </div>